@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
    scroll-behavior: smooth;
}


/* Adding All My Section Tag Fixed Padding */
section {
    padding: 80px;
}



/*Creating Banner Area in CSS */

.banner {
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    background: url(images/Last\ try.jpg);
    background-size: cover;
    background-position: right center;
}

/*.banner {
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(assets/videos/yellow\ liquid.mp4);
    background-size: cover;
    background-position: right center;
    z-index: 1;
}*/






/* Test Code */
/*.banner video {
    position: absolute;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
}*/


.banner h2 {
    font-size: 2.5em;
    color: #555;
    font-weight: 300;
    line-height: 1.5em;
}

.banner h2 span {
    font-size: 1.2em;
    color: #efefef;
}

.banner h3 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}

.btn {
    position: relative;
    background: #55127f;
    display: inline-block;
    color: #000;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    transition: 0.4s;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.banner .btn:hover {
    letter-spacing: 6px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.1;
    }
    80% {
       opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}



/* Creating About Me Layout in CSS */


/******* New Addition to css I don't know if it fully works *****/
.about {
    padding-top: 2vw;
    padding-bottom: 2vh;
    position: relative;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading p {
    font-style: "Syne";
    font-size: 14px;
}

.heading h2 {
    font-size: 3em;
    color: #55127f
}


.content {
    display: flex;
    justify-content: space-between;
}

.contentBx {
    padding-left: 40px;
    text-align: justify;
}


.proPic {
    width: 300px;
    height: 350px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}


.contentBx h2 {
    font-weight: 300;
    margin-bottom: 10px;
}

.contextBx.w50 p {
    padding-bottom: 10px;
}

.heading.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}


.heading.bottom .btn.round {
    transition: 0.8s;
}

.bt {
    padding: 15px;
}

.heading.bottom .btn.round:hover {
    transform: scale(0.80) translateY(-10px);
}


.btn.round {
    border-radius: 50px;
}




.w50 {
    min-width: 25%;
}

img {
    max-width: 100%;
    object-fit: cover;
}

/*********CSS For The Video Purple Digital *********/

.showcase {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 1;
    /*box-sizing: border-box;
    margin: 0;
    padding: 0;*/
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.toggle2 {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #55127f;
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
}

@media(max-width: 991px) {
    .showcase, .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
    
}





/******* CSS For Video Yellow Lquid **********/



/*.yellowLiq video {
    position: relative;
    margin: 0 auto;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}*/

    




/*Creating Logo & Menu's Header Using CSS*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition: 0.5s;
}

header .logo {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style-type: none;
    position: relative;

}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0px 15px;
    text-decoration: none;
    color: #fff;
}

/* Creating Sticky Header Menu Nav Bar In CSS*/

header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header.sticky .logo,
header.sticky ul li a {
    color: #111;
}

/*Progress Bars*/
  

.contextBx.w50 ul {
    list-style: none;
}


.progress {
  width: 100%;
  max-width: 260px;
  height: 6px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
}
  
  .progress-bar {
    display: block;
    height: 100%;
    background: linear-gradient(90deg,#d20a84,#55127f  17%,#087CF7 34%,#18E7D0,#d20a84 68%,#55127f 85%,#087CF7 );
    background-size: 300% 100%;
    animation: progress-animation 2s linear infinite;
  }
    
  @keyframes progress-animation {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: 0;
    }
  }


/* Designing Services Layout in CSS*/


/********  Recently Added padding  *******/

.services {
    background: #16171C;
    padding-top: 2vw;
}


.heading.white p {
    color: white;
    padding: 1vw;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .content .servicesBx {
    color: #fff;
    /*background: #0F1013;*/
    margin: 10px 15px;
    padding: 30px 15px;
    text-align: center;
    max-width: 360px;
    background-image: linear-gradient(to right, #d20a84, #55127f);
}

.services .content .servicesBx:hover {
        border: solid 1px #CCC;
        -moz-filter: drop-shadow(3px 3px 2px #33353b);
        -webkit-filter: drop-shadow(3px 3px 2px #33353b);
        filter: drop-shadow(4px 3px 2px #33353b);
}

.services .content .servicesBx a {
    color: #fff;
}



.services .content .servicesBx:hover {
    border-bottom: 3px solid #087CF7;
    cursor: pointer;
}

.services .content .servicesBx .fa-solid {
    color: #22242A;
}

.services .content .servicesBx .fa-brands {
    color: #22242A;
}







/* Project Heading*/

.worked-on {
    background-color: #16171C;
}


.proj-Heading h2 {
    font-size: 3em;
    text-align: center;
    padding-bottom: 20px;
    color: #55127f;
}

.proj-Heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 15px;
}

.fancy-link {
    text-decoration: none;
    color: #d20a84;
    position: relative;
}

.fancy-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.fancy-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}





/********* Carousel *************/


.proj {
    position: relative;
    height: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #16171C;
}


.carousel {
   position: relative;
   height: 500px;
   width: 650px;
   min-width: 300px;
   margin: 0 auto;
}

.carousel_image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.carousel_track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel_button-left {
    left: 5px;
    z-index: 1;
}

.carousel_button-right {
    right: 5px;
}

.carousel_nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;

}

.carousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 12px;
    cursor: pointer;
}

.carousel_indicator.current-slide {
    background: rgba(85, 18, 127, 0.75)
}

.is-hidden {display: none; }

.fa-solid.fa-circle-right {
    color: #d20a84;
}
.fa-solid.fa-circle-left {
    color: #d20a84;
}





/******* Certification Projects ****************/





.certification {
    background-image: url(images/pexels-nick-demou-2473183.jpg);
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    justify-content: center;
    align-items: center;
    /*background-blend-mode: darken;
    background-color: #d20a84;*/
}


.heading2 h2 {
    color: #fff;
    font-size: 3em;
    width: 100%;
    text-align: center;
    padding-bottom: 2vw;
}

.certImages {
    position: relative;
    width: 200px;
}

.badge {
    display: block;
    width: 100%;
    border: 1px solid #d20a84;
}

.imgoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 23, 28, 0.7);
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
}

.imgoverlay--blur {
    backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
}


.imgoverlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
    -moz-transform: translateY(20px);
    -moz-transition: transform 0.25s;
}

.imgoverlay:hover {
    opacity: 1;
    -moz-opacity: 1;
}

.imgoverlay:hover > * {
    transform: translateY(0);
    -moz-transform: translateY(0);
}



.imgtitle {
    font-size: 2em;
    font-weight: bold;
}

.description {
    font-size: 1em;
    margin-top: 0.25em;
    color: #fff;
}







/* Designing Contact Layout in CSs*/


/******** Recently Added Padding **********/
.contact {
    background: #16171C;
    padding-bottom: 2vw;
}

.contact h2 {
    margin-top: 1vw;
}

.formBx {
    min-width: 60%;
}

.formBx form {
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfo h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom:10px
}

.formBx form input,
.formBx form textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: #0F1013;
    color: white;
    resize: vertical;
}

.formBx form input:focus,
.formBx form textarea:focus {
border-bottom: 1px solid #087CF7;
transition: 0.5s;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
-o-transition: 0.5s;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
    color: #999;
}

.formBx form input[type="submit"] {
    background: #55127f;
    max-width: 250px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
    letter-spacing: 2px;
}

.formBx .input {
    transition: 0.7s;;
}

.formBx .input:hover {
transform: scale(0.90) translateY(2px);
}





.contactInfo {
    min-width: 40%;
}

/********* Recently Added Padding ***********/

.contactInfo h3 {
    padding-bottom: 0.5vw;
}

.contactInfo p {
    color: #999;
}

.contactInfoBx {
    position: relative;
}

.contactInfoBx .box {
    position: relative;
    padding: 20px;
    display: flex;
}

.contactInfoBx .box .icon {
    color: #fff;
    min-width: 40px;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.contactInfoBx .box .text {
    color: #999;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
    z-index: 1;
}

.contactInfoBx .box .text h3 {
    color: #d20a84;
    font-weight: 500;
    margin: 0;
}




/******** Recently Added Padding *********/
.contactInfoBx .boxSocial {
    display: flex;
    flex-direction: row;
    padding-left: 55px;
    letter-spacing: 45px;
    padding-top: 5px;
}

.contactInfoBx .boxSocial .fa-brands {
    font-size: 42px;
    color:#55127f;
    cursor: pointer;
}


.contactInfoBx .boxSocial .fa-brands {
    transition: 0.5s;
}

.contactInfoBx .boxSocial .fa-brands:hover {
    transform: scale(0.5) translateY(-15px);
}


/* Designing Footer Layout in CSS */

footer.copyright {
    background: #000;
    color: #fff;
    text-align: center;
    padding-right: 10px;
}

.copyright a {
   color: #d20a84
}

/* Making a Responsive Layout */

@media (max-width: 991px) 
{
    header,
    header.sticky {
        padding:20px 50px;
    }
    header .menu {
        display:none;
    }
    header .menu {
        position: fixed;
        background: #fff;
        display:block;
        top: 69px;
        left: -100%;
        padding: 100px 50px;
        width: 100%;
        height: 100vh;
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }

    header .menu.active {
        position: fixed;
        background: #fff;
        display:block;
        top: 69px;
        left: 0;
        padding: 100px 50px;
        width: 100%;
        height: 100vh;
        text-align: center;
    }

    header ul li a {
        font-size:20px;
        color: #111;
        font-weight: 400;
        margin: 10px 0;
    }
    .toggle {
        width: 40px;
        height: 40px;
        background-image: url(images/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active {
        width: 40px;
        height: 40px;
        background-image: url(images/close.png);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    

    .banner {
        padding: 150px 50px 100px;
    }

    .banner h2 {
        font-size: 1.5em;
    }
    .banner h3 {
        font-size: 1em;
    }
    .textBx {
        position: relative;
        top: 170px;
    }
    .btn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 50px;
        -webkit-border-raius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }

    .content {
        flex-direction: column;
    }
    .contentBx {
        padding:0;
    }
    
    .content .w50 img {
        display:block;
        margin: 0 auto 30px auto;
    }
    
    .contentBx h2 {
        font-size: 20px;
        font-weight: 300;
    }
    .contentBx h3 {
        font-size: 20px;
    }
    .heading h2 {
        font-size: 24px;
    }
    .contactInfo{
        margin:10px 0;
    }
}


.textBx h2 {
    animation-duration: 5s;
    animation-name: myframes;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}


@keyframes myframes {
    0% {
        margin-left: -400px;
    }
    50% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}


.textBx h3 {
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes slidein {
    0% {
        margin-left: 400px;
    }
    50% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}


header {
    animation-duration: 3s;
    animation-name: movedown;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
   
@keyframes movedown {
    0% {
        top: -200px;
    }
    50% {
        top: 0px;
    }
    100% {
        top: 0px;
    }
}













































/*Extra Test Code For Bounce on the buttons*/

/*.btn {
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-name: bounce;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
   
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
} */





